// primary colors
$primary-dark-blue: hsl(274, 60%, 46%);
$primary-dark-cyan: hsl(180, 88%, 17%);
$primary-light-cyan: rgb(51, 201, 201);
$primary-very-light-cyan: hsl(180, 100%, 50%);

$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

$primary-purple: hsl(284, 76%, 25%);
// shades of gray
$light-gray: hsl(0, 0%, 99%);
$gray-50: hsl(0, 0%, 50%);
$bluish-gray: hsl(252, 31%, 27%);
$gray-83: hsl(0, 0%, 83%);

// green
$green: hsl(118, 100%, 66%);

// shades of blue
$blue-normal: hsl(240, 94%, 20%);

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

// All the design requirements colors
$secondary-dark-blue: hsl(222, 11%, 17%);
$secondary-orange: hsl(6, 82%, 59%);
$secondary-gray: hsl(0, 0%, 83%);
$secondary-light-blue: hsl(222, 8%, 25%);

$footer-based: hsl(252, 4%, 26%);
