@use '../util' as ut;

.featured-speakers {
  font-family: ut.$open-sans;
  padding: ut.rem(16);

  @include ut.breakpoint {
    padding: ut.rem(29) 10%;
  }

  &-title {
    text-align: center;
    font-size: ut.rem(20);
    margin-block: ut.rem(8) ut.rem(32);

    @include ut.breakpoint {
      font-size: ut.rem(29);
    }

    &::after {
      content: '';
      display: block;
      width: 12%;
      height: 0.1875rem;
      background-color: #ec5241;
      margin: ut.rem(11) auto;
      @include ut.breakpoint {
        width: 4%;
      }
    }
  }

  &-all-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: ut.rem(25);

    @include ut.breakpoint {
      grid-template-columns: 1fr 1fr;
    }
  }

  &-card {
    display: flex;
    gap: ut.rem(10);
    align-items: center;

    .card-image-container {
      .card-bg-image {
        background-image: url(../../../assets/checker-image.jpg);
        background-repeat: no-repeat;
        width: ut.rem(64);
        height: ut.rem(64);
        background-size: cover;
      }

      img {
        width: ut.rem(80);
        margin-top: -(ut.rem(53));
        margin-left: ut.rem(7);

        @include ut.breakpoint {
          width: ut.rem(106);
          margin-top: -3rem;
          margin-left: ut.rem(18);
        }
      }
    }

    .card-text {
      .card-title {
        font-size: ut.rem(13);
        font-weight: 900;
        @include ut.breakpoint {
          font-size: ut.rem(20);
        }
      }

      .card-description {
        font-size: ut.rem(11);
        margin-block: ut.rem(4);
        color: ut.$secondary-orange;
        font-style: italic;
        font-weight: 700;
        @include ut.breakpoint {
          font-size: ut.rem(14);
        }

        &::after {
          content: '';
          display: block;
          width: 10%;
          height: ut.rem(2);
          background-color: ut.$secondary-light-blue;
          margin-top: ut.rem(6);
        }
      }

      .academic-bg {
        font-size: ut.rem(11);
        font-weight: 600;
        margin-top: ut.rem(6);
        @include ut.breakpoint {
          font-size: ut.rem(14);
        }
      }
    }
  }

  .featured-speakers-card.active {
    display: none;

    @include ut.breakpoint {
      display: flex;
    }
  }
}

// special case
.show-more,
.show-less {
  display: flex;
  justify-content: center;
  gap: ut.rem(12);
  align-items: center;
  border: ut.rem(2) solid rgba(ut.$secondary-light-blue, 0.6);
  padding: ut.rem(14);
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  margin-top: 1.5rem;
  @include ut.breakpoint {
    display: none;
  }

  img {
    width: ut.rem(20);
  }

  &:hover {
    background-color: white;
    color: ut.$bluish-gray;
  }

  &.active {
    display: none;
  }
}
