@use '../util' as ut;

.footer {
  &-partner {
    background-color: ut.$footer-based;
    padding: 24px;

    &-title {
      text-align: center;
      color: ut.$secondary-gray;
      font-size: 20px;
      margin-bottom: 23px;
      width: 34%;
      margin-inline: auto;

      &::after {
        display: block;
        content: '';
        background-color: ut.$gray-83;
        width: 37%;
        height: 2px;
        margin-inline: auto;
        margin-top: 11px;
      }
    }

    &-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 12px;
    }
  }

  &-partner-image {
    width: 100px;
    display: block;
    margin-right: 10px;
  }

  &-copyright {
    background: inherit;
    color: ut.$secondary-dark-blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

    .copy-rights {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.reduce-80 {
  width: 80px;
}

.google {
  color: ut.$secondary-gray;
  text-align: center;
  font-size: 24px;
  height: ut.rem(31);
}
