@use '../util' as ut;

.main-program {
  background-color: ut.$secondary-dark-blue;
  color: ut.$secondary-gray;
  padding: ut.rem(36) ut.rem(16);

  &-title {
    text-align: center;
    width: 45%;
    margin-inline: auto;

    &::after {
      content: '';
      display: block;
      width: 20%;
      height: ut.rem(3);
      background-color: ut.$secondary-orange;
      margin: ut.rem(15) auto;
    }
  }

  &-cards {
    margin-top: ut.rem(36);

    .card {
      display: grid;
      grid-template-columns: ut.rem(70) ut.rem(95) auto;
      grid-template-areas: 'ico title description description';
      align-items: center;
      margin-top: ut.rem(12);
      background: ut.$secondary-light-blue;
      padding: ut.rem(12) ut.rem(8);

      &-icon {
        width: ut.rem(54);
        grid-area: ico;
      }

      &-title {
        grid-area: title;
        font-size: ut.rem(15);
        color: ut.$secondary-orange;
      }

      &-description {
        grid-area: description;
        font-size: ut.rem(13);
        letter-spacing: ut.rem(0.3);
      }
    }
  }

  &-join {
    display: block;
    font-size: 1rem;
    text-align: center;
    width: 76%;
    padding: ut.rem(12) ut.rem(12);
    margin-top: ut.rem(46);
    margin-inline: auto;
    background-color: ut.$secondary-orange;
    color: ut.$secondary-gray;
    margin-bottom: ut.rem(14);

    &:hover {
      color: ut.$secondary-gray;
      transform: scale(1.05);
    }
  }
}
