@use '../util' as ut;

.main-intro {
  margin-top: ut.rem(47);
  padding: ut.rem(24) ut.rem(24) ut.rem(88) ut.rem(24);
  @include ut.breakpoint {
    margin-left: 12vw;
    width: 61vw;
    padding-bottom: ut.rem(120);
  }

  &-title {
    font-family: ut.$poppins;
    font-size: ut.rem(35);
    text-transform: uppercase;
    line-height: ut.rem(40);
    font-weight: 700;
    text-align: left;
    color: ut.$secondary-orange;
    background: url(https://previews.123rf.com/images/daneeshe/daneeshe1503/daneeshe150300038/37838396-abstract-orange-medical-background-world-health-day-vector-illustration.jpg?fj=1);
    -webkit-background-clip: text;
    color: transparent;

    @include ut.breakpoint {
      font-size: clamp(ut.rem(46), ut.rem(40) + 2vw, ut.rem(60));
      line-height: ut.rem(62);
      margin-top: ut.rem(48);
      width: 90%;
    }
  }

  &-description-cont {
    padding: ut.rem(25);
    font-size: ut.rem(16);
    margin-top: ut.rem(38);
    text-align: left;
    border: 3px solid ut.$white;
    background-color: ut.$secondary-gray;

    @include ut.breakpoint {
      width: 61%;
      margin-top: ut.rem(16);
    }
  }

  &-dates {
    font-family: ut.$open-sans;
    margin-top: ut.rem(22);
    font-size: ut.rem(17);
    @include ut.breakpoint {
      margin-top: o;
      font-size: ut.rem(22);
    }

    .main-intro-upper {
      font-family: ut.$poppins;
      text-transform: uppercase;
      font-size: ut.rem(23);
      font-weight: 500;
      margin-bottom: ut.rem(14);
      @include ut.breakpoint {
        font-size: ut.rem(34);
      }
    }

    p {
      margin-top: ut.rem(7);
    }
  }
}
