@use '../util' as ut;

.main-program {
  background-color: ut.$light-gray;
  border-radius: ut.rem(10) ut.rem(10) 0 0;
  color: ut.$primary-dark-cyan;
  padding: ut.rem(36) ut.rem(16);

  &-title {
    text-align: center;
    width: 45%;
    margin-inline: auto;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: ut.rem(3);
      background-color: ut.$primary-dark-blue;
      margin-bottom: ut.rem(50);
    }
  }

  &-cards {
    .card {
      display: grid;
      grid-template-columns: ut.rem(70) ut.rem(95) auto;
      grid-template-areas: 'ico title description description';
      align-items: center;
      margin-top: ut.rem(12);
      background: ut.$light-gray;
      border-radius: ut.rem(7);
      box-shadow: ut.rem(1) ut.rem(1) ut.rem(5) ut.$gray-83;
      padding: ut.rem(12) ut.rem(8);

      &-icon {
        width: ut.rem(54);
        grid-area: ico;
      }

      &-title {
        grid-area: title;
        font-size: ut.rem(14);
        color: ut.$blue-normal;
      }

      &-description {
        grid-area: description;
        font-size: ut.rem(12);
      }
    }
  }

  &-join {
    display: block;
    font-size: 1rem;
    text-align: center;
    width: 76%;
    padding: ut.rem(12) ut.rem(12);
    margin-top: ut.rem(46);
    margin-inline: auto;
    background-color: ut.$gray-50;
    color: ut.$white;

    &:hover {
      color: ut.$white;
      transform: scale(1.05);
    }
  }
}
