@use '../util' as ut;

// links and states
a {
  text-decoration: none;
  color: white;
  font-family: ut.$open-sans;
  font-weight: 700;
  line-height: 30px;
  font-size: 21px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: ut.$secondary-orange;
}

li {
  list-style-type: none;
  margin-bottom: 12px;
}
