@use '../util' as ut;

// links and states
a {
  text-decoration: none;
  color: white;
  font-family: ut.$open-sans;
  font-weight: 700;
  line-height: ut.rem(30);
  font-size: ut.rem(21);
  text-align: center;
  transition: all 0.2s ease-in-out;

  @include ut.breakpoint {
    font-size: ut.rem(14);
  }
}
a:hover {
  color: ut.$secondary-orange;
}

li {
  list-style-type: none;
  margin-bottom: ut.rem(12);

  @include ut.breakpoint {
    margin: 0;
  }
}
